@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* SCROLLBAR */

body::-webkit-scrollbar,
.list_top_trend_film::-webkit-scrollbar,
.detail_film_info::-webkit-scrollbar,
.sidebar_manage_info::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb,
.list_top_trend_film::-webkit-scrollbar-thumb,
.detail_film_info::-webkit-scrollbar-thumb,
.sidebar_manage_info::-webkit-scrollbar-thumb {
  /*thanh scroll*/
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  max-height: 50%;
  height: 200px;
}

body::-webkit-scrollbar-track,
.list_top_trend_film::-webkit-scrollbar-track,
.detail_film_info::-webkit-scrollbar-track,
.sidebar_manage_info::-webkit-scrollbar-track {
  /*thanh contain scroll*/
  background-color: #ccc;
  border-radius: 50px;
}

body {
  /* height: 10000px; */
  /* background-color: #424040; */
}

.sidebar_manage_info::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}
.sidebar_manage_info::-webkit-scrollbar-thumb {
  /*thanh scroll*/
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  /* max-height: 50%; */
  /* height: 200px; */
  width: 50px;
}
.sidebar_manage_info::-webkit-scrollbar-track {
  /*thanh contain scroll*/
  background-color: #ccc;
  border-radius: 50px;
}

/* SIDEBAR MANAGE INFO USER */
.side-navigation-panel {
}
.side-navigation-panel-select {
  /* margin-bottom: 10px !important; */
  border-radius: 10px !important;
  overflow: hidden;
}
.side-navigation-panel-select-wrap {
}
.side-navigation-panel-select-option {
  border: none !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.side-navigation-panel-select-option:hover
  .side-navigation-panel-select-option-wrap {
  color: black !important;
}
.side-navigation-panel-select-option:hover svg {
  color: black !important;
}
.side-navigation-panel-select-option-wrap {
  color: #8699ad;
}
.side-navigation-panel-select-option-text {
  font-size: 15px;
}
.side-navigation-panel-select-option-icon.side-navigation-panel-select-option-icon-chevron-down {
  color: #8699ad;
}
.side-navigation-panel-select-option-icon.side-navigation-panel-select-option-icon-chevron-up {
  color: #8699ad;
}
/* / when active / */
.side-navigation-panel-select-option.side-navigation-panel-select-option-selected
  .side-navigation-panel-select-option-wrap {
  color: black !important;
}
.side-navigation-panel-select-option.side-navigation-panel-select-option-selected
  svg {
  color: black !important;
}
/* submenu  */
.side-navigation-panel-select-inner {
  /* background-color: white; */
}
.side-navigation-panel-select-inner-wrap {
}
.side-navigation-panel-select-inner-option {
  border: none !important;
}
.side-navigation-panel-select-inner-option:hover
  .side-navigation-panel-select-inner-option-wrap {
  color: black;
}
.side-navigation-panel-select-inner-option-wrap {
  color: #8699ad;
}
.side-navigation-panel-select-inner-option-text {
}
/* / when submenu active / */
.side-navigation-panel-select-inner-option.side-navigation-panel-select-inner-option-selected
  .side-navigation-panel-select-inner-option-wrap {
  color: black !important;
}
/* //////////////////////////////////////////////////////////////////////////////// */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* sidebarr */
.ps-menu-label.css-12w9als {
  display: flex;
  align-items: center;
}
.ps-menu-button {
  width: 100%;
}
